# Environment variables
.env

# Python cache
__pycache__/
*.py[cod]

# Virtual environments
venv/
.venv/

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Node modules
node_modules/
# Python packaging
*.egg-info/
# Runtime files
storage/
#test files
tests/
test_login_selenium.py
test_login.py

package-lock.json
admin_tool.Py
